<mat-card>
    <mat-selection-list #flights [multiple]="false">
        <mat-list-option *ngFor="let flight of content" [value]="flight">
           <li> {{ flight.id }} | {{ flight.departure }} to  {{ flight.arrival }} | Nombre d'arrêt : {{ flight.nbstop }} | Ville d'arrêt : {{ flight.stop }} </li>
        </mat-list-option>
        
    </mat-selection-list>


</mat-card>

<p STYLE="text-align: center; font-size: 23px; padding-top: 20px;">
    Vol selectionné : {{ flights.selectedOptions.selected[0]?.value.id }} {{ flights.selectedOptions.selected[0]?.value.departure }} {{ flights.selectedOptions.selected[0]?.value.arrival }} 
</p>

